*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "quicksand";
}
.header{
    text-align: center;
    width: 500px;
    margin: 10px auto;
}
.header h1{
    font-size: 30px;
}
.header p{
    font-size: 12px;
    color: rgb(112, 14, 225);
    
}
.image{
    height: 350px;
    position: relative;
}
.image img{
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0% {
        top: 10%;
    }
    50% {
        top: 50%;
    }
    100% {
        top: 10%;
    }
}

.shadow {
    animation: shade 3s infinite ease-in-out;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0) scale(0.5);
    background-color: #000000ac;
    width: 300px;
    height: 50px;
    border-radius: 100%;
    filter: blur(10px) ;
    opacity: 0.5; 
}

@keyframes shade {
    0% {
        transform: translate(-50%, 0) scale(0.5);
    }
    50% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, 0) scale(0.5);
    }
}